nav ul ul {
    display: none;
}
 
nav ul li:hover > ul {
    display: block;
}

nav ul {
	list-style:none;
    padding: 0 0px;
    position:relative;
    display:inline-table;
}

nav ul:after {
    content: ""; clear:both; display:block;
}

nav ul li a{
	width: 200px;
	height: 30px;
	text-decoration: none;
	padding: 5px;
	background:url(../images/menu_button.jpg);
	color:#fff;
	border: 1px solid #ccc;
	border-radius: 0.3em;
	display: block;
}
nav ul ul li {
    float:none;
}

nav ul ul li a{
	background:#999999;
    float:none;
}

