@charset "utf-8";
/* CSS Document */
/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/* End */

.corp{
	background-color:#eeeeee;
}

.remove{
	text-decoration:none;
}
.margem{
	padding-left:10px;

}

.hero-unit2 {
  padding: 5px;
  font-size: 17px;
  color: inherit;
  background: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}